.canvas-box {
    width: 240px;
    height: 240px;
    background-color: lightblue;
    /* margin: 4px; */
    display: inline-block;
    border: solid black 1px;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 960px;
    height: 960px;
    flex-wrap: wrap;
    
}